<h1>uxd-coursework-61095-interaction-design-app-wireframes-sketches-round-1</h1>
<p><img src="Bazile-Wireframe-1.JPG"/></p>
<p><img src="Bazile-Wireframe-2.JPG"/></p>
<p><img src="Bazile-Wireframe-3.JPG"/></p>
<p><img src="Bazile-Wireframe-4.JPG"/></p>
<p><img src="Bazile-Wireframe-5.JPG"/></p>
