/* =========================================================================
   Courier Prime Sans
   ========================================================================= */

@font-face {
    font-family: 'Courier Prime Sans';
    font-style: normal;
    font-weight: 400;
    src: url(/styles/fonts/courier_prime_sans/CourierPrimeSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Courier Prime Sans';
    font-style: italic;
    font-weight: 400;
    src: url(/styles/fonts/courier_prime_sans/CourierPrimeSans-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Courier Prime Sans';
    font-style: normal;
    font-weight: 700;
    src: url(/styles/fonts/courier_prime_sans/CourierPrimeSans-Bold.ttf) format('truetype');
}


/* =========================================================================
   Gandhi Serif
   ========================================================================= */

@font-face {
    font-family: 'Gandhi Serif';
    font-style: normal;
    font-weight: 400;
    src: url(/styles/fonts/gandhi_serif/GandhiSerif-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Gandhi Serif';
    font-style: italic;
    font-weight: 400;
    src: url(/styles/fonts/gandhi_serif/GandhiSerif-Italic.otf) format('opentype');
}

@font-face {
    font-family: 'Gandhi Serif';
    font-style: normal;
    font-weight: 700;
    src: url(/styles/fonts/gandhi_serif/GandhiSerif-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Gandhi Serif';
    font-style: italic;
    font-weight: 700;
    src: url(/styles/fonts/gandhi_serif/GandhiSerif-BoldItalic.otf) format('opentype');
}
