/* =========================================================================
   Containers
   ========================================================================= */

pre.hljs {
  --color-comment: #bbb;
  --color-keyword-modifier: #de9bff;
  --color-keyword: #8D1A27;
  --color-number: #f69;
  --color-string: #4A5A94;
  --color-text: #000;
  --color-constant: #7ab;
  --color-tag-attr: #777;

  overflow-x: auto;
  word-wrap: normal;
  color: var(--color-text);
}

.hljs code {
  white-space: pre;
  color: inherit;
}

/* =========================================================================
   Languages
   ========================================================================= */


/* Languages: Defaults
   ========================================================================= */

.hljs-regexp,
.hljs-string {
  color: var(--color-string);
}

.hljs-string .hljs-subst {
  color: var(--color-keyword-modifier);
}

.hljs-comment {
  color: var(--color-comment);
}

.hljs-doctag {
  font-weight: bold;
}

.hljs-number {
  color: var(--color-number);
}

.hljs-built_in,
.hljs-prompt,
.hljs-preprocessor,
.hljs-class .hljs-title,
.hljs-variable {
  color: var(--color-text);
}

.hljs-built_in {
  font-weight: bold;
  font-style: italic;
}

.hljs-class .hljs-title {
  font-weight: bold;
  color: black;
}

.hljs-literal,
.hljs-keyword,
.hljs-title {
  color: var(--color-keyword);
  font-weight: bold;
}

.hljs-tag .hljs-name {
  color: var(--color-keyword);
}

.hljs-params {
  color: var(--color-text);
  font-style: italic;
}

.hljs-function .hljs-title {
  color: black;
  font-weight: bold;
}

.hljs-meta,
.hljs-symbol {
  color: var(--color-text);
}

/* Languages: CSS
   ========================================================================= */

.language-css .hljs-attribute {
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--color-text);
}

.hljs-selector-tag {
  color: var(--color-keyword);
}

.language-css .hljs-function {
  color: var(--color-text);
  font-weight: bold;
}

.hljs-selector-id,
.hljs-selector-class {
  color: var(--color-keyword);
}

/* Languages: Diff
   ========================================================================= */

.language-diff {
  color: var(--color-comment);
}

.language-diff .hljs-meta {
  color: var(--color-constant);
}

/* Header */
.language-diff .hljs-comment {
/*  color: var(--color-text);*/
/*  opacity: .5;*/
  font-weight: bold;
}

.language-diff .hljs-addition {
  color: #0a1;
}

.language-diff .hljs-deletion {
  color: #f44;
}

/* Languages: JSON
   ========================================================================= */

.language-json .hljs-attr {
  color: var(--color-text);
  font-weight: bold;
}

/* Languages: PHP
   ========================================================================= */

.language-php .hljs-meta {
  color: var(--color-tag-attr);
}

/* Languages: XML
   ========================================================================= */

.language-xml .language-javascript,
.language-xml .language-css,
.language-xml .hljs-cdata {
  opacity: 0.5;
}

.language-xml .hljs-tag {
  /* '<' '/' and '>' */
  color: var(--color-text);
}

.language-xml .hljs-attr {
  color: var(--color-tag-attr);
}

/* Languages: XCode
   ========================================================================= */

.hljs-preprocessor {
  /* Used in PHP and Obj-C */
  font-style: italic;
  font-weight: bold;
  color: var(--color-text);
}
