body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: white;
  font-family: "Gandhi Serif", serif;
  color: #555;
}

a {
  color: #007894;
}

a:visited {
  color: #96c3ce;
}

a:hover {
  color: #ce2a82;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Courier Prime Sans", monospace;
  text-transform: uppercase;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

input {
  padding: .5em;
  width: 500px;
  border: 1px solid #ddd;
  font-size: 1em;
  font-family: inherit;
  font-weight: normal;
}

input,
button {
  outline: none;
}

input:focus {
  background-color: white;
  color: black;
}

.results {
  margin: 0;
  padding: 5em calc((100% - 600px) / 2);
  flex: 1;
  line-height: 1.3em;
  border-top: 5px solid #a8d0d9;
  font-family: "Courier Prime Sans", monospace;
  font-size: 1.2em;
  background-color: #c5f4ff;
}

@media (max-width: 832px) {
  .results {
    padding: 2em 2em 2em 3em;
  }
}

.result__description {
  font-family: "Gandhi Serif", serif;
  text-transform: unset;
}

.result + .result {
  margin-top: 2em;
}

.result h2 {
  margin-bottom: .25em;
  font-size: 1.1em;
}

.placeholder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(191, 100%, 70%, 0.9);
  color: #007894;
  font-family: "Courier Prime Sans", monospace;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
}

.state--searching .placeholder--searching,
.state--error .placeholder--error,
.state--noResults .placeholder--empty {
  display: flex;
}

.metrics {
  display: none;
  margin: 1em 0 .5em;
  color: #888;
  font-size: 1.2em;
}

.metrics code {
  color: #333;
}

.state--hasResults .metrics,
.state--noResults .metrics {
  display: block;
}

.placeholder--error {
  background-color: hsla(0, 50%, 50%, 0.9);
  color: white;
}

.placeholder__dismissButton {
  width: 200px;
  margin: 1em;
  padding: .5em;
  border: none;
  border-radius: 3px;
  font-size: .5em;
  font-family: inherit;
  background-color: #007894;
  color: white;
  cursor: pointer;
}

.placeholder__dismissButton:hover {
  background-color: #ce2a82;
  color: white;
}

.placeholder--error .placeholder__dismissButton {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.placeholder--error .placeholder__dismissButton:hover {
  background-color: white;
  color: #900;
}

.result__tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result__tags li {
  display: inline-block;
  font-family: "Courier Prime Sans", monospace;
  text-transform: uppercase;
  font-size: .7em;
}

.result__tags li:first-child {
  color: #333;
}

.result__tags li + li {
  margin-left: 1em;
  opacity: .5;
}

.tag--matches {
  background-color: yellow;
  padding: .2em .5em;
  opacity: 1 !important;
}
