{% extends "_layout.jinja2" %}

{% set title = subject + ' | bazile.org' %}
{% set meta = abstract|striptags %}

{% set placeholder %}
  {% include "blog__loading.jinja2" %}
{% endset %}

{% block body %}
  <article class="post post--{{type}}">
    <div class="post__timestamp block">
      <span
        class="post__year">{{date|format_datetime('%Y')}}</span><span
        class="post__monthAndDate">{{date|format_datetime('%m/%d')}}</span>
    </div>
    <h1 class="post__title block">{{subject}}</h1>

    <section class="post__abstract block">
      {{abstract}}
    </section>

    <section class="post__content">
      {{body}}
    </section>

    <section class="post__tags block">
      <h6>Tagged</h6>
      <ul>
        {% for tag in tags %}
        <li><a href="/search.html?tagged={{tag}}">{{tag}}</a></li>
        {% endfor %}
      </ul>
    </section>
  </article>

  <script type="module" src="/lib/blogpost.js"></script>
  <script type="module">
    import {init} from '/lib/blogpost.js'
    init()
  </script>
{% endblock %}
