<!DOCTYPE HTML>
<html lang="en-us" class="state--initial">
<head>
  <meta charset="utf-8"/>
  <title>Search | bazile.org</title>
  <meta name="description" content="Search bazile.org"/>
  <meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.7"/>
  <link rel="icon" href="images/favicon.png"/>
  <link rel="apple-touch-icon" href="images/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="styles/fonts/main.css">
  <link rel="stylesheet" type="text/css" href="styles/search.css">
  <script type="module" src="lib/search.js"></script>
</head>
<body>
  <form action="https://search.dev.bazile.org/everywhere">
    <h1>Search bazile.org</h1>
    <input type="text" placeholder="What are you looking for?" name="query"/>
    <div class="metrics">
      <code class="metrics__count">-1</code> result(s) for <code class="metrics__query">lolwut</code>
    </div>
  </form>

  <ol class="results">
    <li class="result result--blog">
      <h2><a class="result__subject result__hyperlink">Subject</a></h2>
      <div class="result__description">Description</div>
      <ul class="result__tags"></ul>
    </li>
    <li class="result result--portfolio">
      <h2><a class="result__subject result__hyperlink">Subject</a></h2>
      <div class="result__preview"></div>
      <div class="result__description">Description</div>
      <ul class="result__tags"></ul>
    </li>
  </ol>

  <div class="placeholder placeholder--searching">
    It must be here somewhere...
  </div>

  <div class="placeholder placeholder--empty">
    Nope, nada
    <button class="placeholder__dismissButton">OK</button>
  </div>

  <div class="placeholder placeholder--error">
    Oh noes!  Error.
    <button class="placeholder__dismissButton">OK</button>
  </div>
</body>
</html>
